body{
  font-family: sans-serif;
}
.header{
  background-color: #333 !important;
}
.nav-container {
  padding: 15px;
  margin: auto;
  width: 80%;
  display: flex;

}
.nav-left {
  justify-content: flex-start;
  flex-grow:1 ;
}
.nav-left li{
  color: skyblue;
  font-size: 1.5rem;
  align-self: center;
}
.nav-right {
  justify-content: flex-end;
}
.nav {
  list-style: none;
}
.nav a {
  text-decoration: none;
  display: block;
  padding: 0 1em;
  color: white;
}